@import 'root';

div.homepage-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
   
    div.top-menu-txt {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        text-align: center;
        gap: 1rem;
        p {
            font-size: 24px;
        }
    }

    div.menu-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-wrap: wrap;

        button {
            border: .1px gray solid;
            padding: 5px 20px;
            background-color: white;
            border-radius: 25px;
            font-weight: 900;
            letter-spacing: 1.5px;
            font-family: cursive;
        }

        button.active, button:hover {
            background-color: $cyber-yellow;
            color: whitesmoke;
            box-shadow: black 4px 2px 6px;
            border: none;
        }
        
    }
}
