@import 'root';

div.menu-cards.add-animation {
    div.card {
        animation: moveIn  350ms linear forwards;
    }

}
div.menu-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10rem;
    padding-bottom: 10rem;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
    
    div.card {
        border-radius: 50px;
        border: none;
        transition: all 350ms ease-in;
        transform: translateX(300%);
        opacity: 0;
        img.card-img-top {
            background-color: $bright-red; 
            border-radius: 50px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-bottom: 2rem;

        }

        div.card-body {
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            p {
                font-weight: 900;
                letter-spacing: 1.5px;
                font-family: cursive;
                font-size: 18px;
                color: $cyber-yellow;
                text-shadow: black 1px 1px 1px;
            }
            button {
                visibility: none;
            }
        }
    }

    div.card:hover {
        cursor: pointer;
        background-color: $cyber-yellow;

        button {
        visibility: visible;
        
        }
        button:hover {
            background-color: whitesmoke;
        }
        div.card-body {
            p {
                color: $bright-red;
            }
        }
    }
}


/*The bottom menu*/

div.menu-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;

    
    div.menu-card {
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        scale: 0;
        animation: changeScale 450ms ease forwards;

       
        div.menu-img-container {
            flex: 1.5 !important;
            position: relative;
            height: 50%;
            p.card-text {
                text-align: center;
                font-weight: 900;
                letter-spacing: 2px;
                color: $bright-red;
                background-color: $cyber-yellow;
                text-shadow: black  1px 1px 1px;
                border-radius: 20px;
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:5px;
                text-transform: capitalize !important;                
            }
            img {
                object-fit: cover;
                border-radius: 25px;
                flex: 1;
                height: 85%;
            }
            div.btn-menu-container {
                position: absolute;
                bottom: 30%;
                left: 50%;
                transform: translate(-50%, -30%);
                width: 100%;
                align-items: center;
                justify-content: center;
                display: none;
                button {
                    font-weight: 900;
                    font-size: 14px; 
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
            
        }
        div.card-body {
            flex: .5 !important;
            display: flex;
            flex-direction: column;
            p.prise {
                border: .5px gray solid;
                border-radius: 10px;
                color: gray;
                font-weight: 900;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                span.prev-prise {
                    text-decoration: line-through red 2px;
                }
            
            }
            div.item-description {
                display: block;
                flex: 1;
                margin-bottom: 0px !important;
            }
        }
    }
}

div.menu-card:hover {
    cursor: pointer;
    box-shadow: black 1px 2px 4px;
    div.menu-img-container {
        div.btn-menu-container {
            display: flex !important;
        }
        img {
            opacity: .6;
        }
    }
}

/* Animation */
@keyframes changeScale {
    from {
      scale: 0;
    }
    to {
      scale: 1;
    }
  }

  @keyframes moveIn {
    from {
        transform: translateX(300%);
        opacity: 0
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
    
}